In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.max_rows = 4000

In [2]:
def load_data(path, memory):
    data = pd.read_csv(path+'.csv', low_memory=memory)
    return data

In [3]:
def nans_in_data(data):
    nans = {'Amount': data.isna().sum(), 'Percentage': (data.isna().sum()/len(data))*100}  
    nans = pd.DataFrame(nans)
    return nans

In [4]:
data = load_data('loan', False)
nans = nans_in_data(data)

In [5]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

### The dataset looks like has many columns with NaN values. According to the documentation about each and every column it is possible for some columns to have NaN so I have to check how much NaN values are in each column to check if it is worth keeping

In [6]:
nans

                                             Amount  Percentage
id                                          2260668  100.000000
member_id                                   2260668  100.000000
loan_amnt                                         0    0.000000
funded_amnt                                       0    0.000000
funded_amnt_inv                                   0    0.000000
term                                              0    0.000000
int_rate                                          0    0.000000
installment                                       0    0.000000
grade                                             0    0.000000
sub_grade                                         0    0.000000
emp_title                                    166969    7.385826
emp_length                                   146907    6.498389
home_ownership                                    0    0.000000
annual_inc                                        4    0.000177
verification_status                               0    0.000000
issue_d                                           0    0.000000
loan_status                                       0    0.000000
pymnt_plan                                        0    0.000000
url                                         2260668  100.000000
desc                                        2134601   94.423462
purpose                                           0    0.000000
title                                         23325    1.031775
zip_code                                          1    0.000044
addr_state                                        0    0.000000
dti                                            1711    0.075686
delinq_2yrs                                      29    0.001283
earliest_cr_line                                 29    0.001283
inq_last_6mths                                   30    0.001327
mths_since_last_delinq                      1158502   51.246003
mths_since_last_record                      1901512   84.112837
open_acc                                         29    0.001283
pub_rec                                          29    0.001283
revol_bal                                         0    0.000000
revol_util                                     1802    0.079711
total_acc                                        29    0.001283
initial_list_status                               0    0.000000
out_prncp                                         0    0.000000
out_prncp_inv                                     0    0.000000
total_pymnt                                       0    0.000000
total_pymnt_inv                                   0    0.000000
total_rec_prncp                                   0    0.000000
total_rec_int                                     0    0.000000
total_rec_late_fee                                0    0.000000
recoveries                                        0    0.000000
collection_recovery_fee                           0    0.000000
last_pymnt_d                                   2426    0.107313
last_pymnt_amnt                                   0    0.000000
next_pymnt_d                                1303607   57.664681
last_credit_pull_d                               73    0.003229
collections_12_mths_ex_med                      145    0.006414
mths_since_last_major_derog                 1679893   74.309585
policy_code                                       0    0.000000
application_type                                  0    0.000000
annual_inc_joint                            2139958   94.660428
dti_joint                                   2139962   94.660605
verification_status_joint                   2144938   94.880717
acc_now_delinq                                   29    0.001283
tot_coll_amt                                  70276    3.108639
tot_cur_bal                                   70276    3.108639
open_acc_6m                                  866130   38.313012
open_act_il                                  866129   38.312968
open_il_12m                                  866129   38.312968
open_il_24m                                  866129   38.312968
mths_since_rcnt_il                           909924   40.250227
total_bal_il                                 866129   38.312968
il_util                                     1068850   47.280273
open_rv_12m                                  866129   38.312968
open_rv_24m                                  866129   38.312968
max_bal_bc                                   866129   38.312968
all_util                                     866348   38.322655
total_rev_hi_lim                              70276    3.108639
inq_fi                                       866129   38.312968
total_cu_tl                                  866130   38.313012
inq_last_12m                                 866130   38.313012
acc_open_past_24mths                          50030    2.213063
avg_cur_bal                                   70346    3.111735
bc_open_to_buy                                74935    3.314728
bc_util                                       76071    3.364979
chargeoff_within_12_mths                        145    0.006414
delinq_amnt                                      29    0.001283
mo_sin_old_il_acct                           139071    6.151766
mo_sin_old_rev_tl_op                          70277    3.108683
mo_sin_rcnt_rev_tl_op                         70277    3.108683
mo_sin_rcnt_tl                                70276    3.108639
mort_acc                                      50030    2.213063
mths_since_recent_bc                          73412    3.247359
mths_since_recent_bc_dlq                    1740967   77.011175
mths_since_recent_inq                        295435   13.068482
mths_since_recent_revol_delinq              1520309   67.250432
num_accts_ever_120_pd                         70276    3.108639
num_actv_bc_tl                                70276    3.108639
num_actv_rev_tl                               70276    3.108639
num_bc_sats                                   58590    2.591712
num_bc_tl                                     70276    3.108639
num_il_tl                                     70276    3.108639
num_op_rev_tl                                 70276    3.108639
num_rev_accts                                 70277    3.108683
num_rev_tl_bal_gt_0                           70276    3.108639
num_sats                                      58590    2.591712
num_tl_120dpd_2m                             153657    6.796973
num_tl_30dpd                                  70276    3.108639
num_tl_90g_dpd_24m                            70276    3.108639
num_tl_op_past_12m                            70276    3.108639
pct_tl_nvr_dlq                                70431    3.115495
percent_bc_gt_75                              75379    3.334368
pub_rec_bankruptcies                           1365    0.060380
tax_liens                                       105    0.004645
tot_hi_cred_lim                               70276    3.108639
total_bal_ex_mort                             50030    2.213063
total_bc_limit                                50030    2.213063
total_il_high_credit_limit                    70276    3.108639
revol_bal_joint                             2152648   95.221766
sec_app_earliest_cr_line                    2152647   95.221722
sec_app_inq_last_6mths                      2152647   95.221722
sec_app_mort_acc                            2152647   95.221722
sec_app_open_acc                            2152647   95.221722
sec_app_revol_util                          2154484   95.302981
sec_app_open_act_il                         2152647   95.221722
sec_app_num_rev_accts                       2152647   95.221722
sec_app_chargeoff_within_12_mths            2152647   95.221722
sec_app_collections_12_mths_ex_med          2152647   95.221722
sec_app_mths_since_last_major_derog         2224726   98.410116
hardship_flag                                     0    0.000000
hardship_type                               2250055   99.530537
hardship_reason                             2250055   99.530537
hardship_status                             2250055   99.530537
deferral_term                               2250055   99.530537
hardship_amount                             2250055   99.530537
hardship_start_date                         2250055   99.530537
hardship_end_date                           2250055   99.530537
payment_plan_start_date                     2250055   99.530537
hardship_length                             2250055   99.530537
hardship_dpd                                2250055   99.530537
hardship_loan_status                        2250055   99.530537
orig_projected_additional_accrued_interest  2252242   99.627278
hardship_payoff_balance_amount              2250055   99.530537
hardship_last_payment_amount                2250055   99.530537
disbursement_method                               0    0.000000
debt_settlement_flag                              0    0.000000
debt_settlement_flag_date                   2227612   98.537777
settlement_status                           2227612   98.537777
settlement_date                             2227612   98.537777
settlement_amount                           2227612   98.537777
settlement_percentage                       2227612   98.537777
settlement_term                             2227612   98.537777

### According to the dataframe there are lots of columns which contain over 80% NaN data. Those columns are not very usefull so I'll remove them from the dataset. 

### I'll create a copy of the dataset before making any changes

In [7]:
df = data.copy()

In [8]:
def get_columns(data):
    columns = data.columns
    return columns

In [9]:
#This function will remove any column from the dataset which contains over 80% NaN values
#percentage: the amount of nans in column threshold for dropping a column (integer)
#equals: drop a column that is also equals to the threshold or only columns above threshold (bool)
#inplace: should the change be permanant or not (bool) 
def remove_cols(data, columns, percentage, equals, inplace):
    if equals==True:
        for col in columns:
            nan = (data[col].isna().sum()/len(data))*100
            if nan >= percentage:
                data.drop(labels=col, axis=1, inplace=inplace)
            else:
                continue
    else:
        for col in columns:
            nan = (data[col].isna().sum()/len(data))*100
            if nan > percentage:
                data.drop(labels=col, axis=1, inplace=inplace)
            else:
                continue
    return data

In [10]:
cols = get_columns(df)
df = remove_cols(df, cols, 80, True, True)

### Now that I removed the unnecessary columns I want to check how my data looks like

In [11]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,...,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,N,Cash,N
1,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,...,0.0,1.0,0.0,372872.0,99468.0,15000.0,94072.0,N,Cash,N
2,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,...,0.0,0.0,0.0,136927.0,11749.0,13800.0,10000.0,N,Cash,N
3,4000,4000,4000.0,36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,...,100.0,0.0,0.0,385183.0,36151.0,5000.0,44984.0,N,Cash,N
4,30000,30000,30000.0,60 months,16.14,731.78,C,C4,Mechanic,10+ years,...,0.0,0.0,0.0,157548.0,29674.0,9300.0,32332.0,N,Cash,N

In [12]:
df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260664e+06,2.258957e+06,2.260639e+06,2.260638e+06,1.102166e+06,...,2.190392e+06,2.190392e+06,2.190237e+06,2.185289e+06,2.259303e+06,2.260563e+06,2.190392e+06,2.210638e+06,2.210638e+06,2.190392e+06
mean,1.504693e+04,1.504166e+04,1.502344e+04,1.309291e+01,4.458076e+02,7.799243e+04,1.882420e+01,3.068792e-01,5.768354e-01,3.454092e+01,...,8.293767e-02,2.076755e+00,9.411458e+01,4.243513e+01,1.281935e-01,4.677109e-02,1.782428e+05,5.102294e+04,2.319377e+04,4.373201e+04
std,9.190245e+03,9.188413e+03,9.192332e+03,4.832114e+00,2.671737e+02,1.126962e+05,1.418333e+01,8.672303e-01,8.859632e-01,2.190047e+01,...,4.935732e-01,1.830711e+00,9.036140e+00,3.621616e+01,3.646130e-01,3.775338e-01,1.815748e+05,4.991124e+04,2.300656e+04,4.507298e+04
min,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.000000e+03,8.000000e+03,8.000000e+03,9.490000e+00,2.516500e+02,4.600000e+04,1.189000e+01,0.000000e+00,0.000000e+00,1.600000e+01,...,0.000000e+00,1.000000e+00,9.130000e+01,0.000000e+00,0.000000e+00,0.000000e+00,5.073100e+04,2.089200e+04,8.300000e+03,1.500000e+04
50%,1.290000e+04,1.287500e+04,1.280000e+04,1.262000e+01,3.779900e+02,6.500000e+04,1.784000e+01,0.000000e+00,0.000000e+00,3.100000e+01,...,0.000000e+00,2.000000e+00,1.000000e+02,3.750000e+01,0.000000e+00,0.000000e+00,1.142985e+05,3.786400e+04,1.630000e+04,3.269600e+04
75%,2.000000e+04,2.000000e+04,2.000000e+04,1.599000e+01,5.933200e+02,9.300000e+04,2.449000e+01,0.000000e+00,1.000000e+00,5.000000e+01,...,0.000000e+00,3.000000e+00,1.000000e+02,7.140000e+01,0.000000e+00,0.000000e+00,2.577550e+05,6.435000e+04,3.030000e+04,5.880425e+04
max,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,1.100000e+08,9.990000e+02,5.800000e+01,3.300000e+01,2.260000e+02,...,5.800000e+01,3.200000e+01,1.000000e+02,1.000000e+02,1.200000e+01,8.500000e+01,9.999999e+06,3.408095e+06,1.569000e+06,2.118996e+06

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 106 entries, loan_amnt to debt_settlement_flag
dtypes: float64(79), int64(4), object(23)
memory usage: 1.8+ GB

In [16]:
nans = nans_in_data(df)
nans

                                 Amount  Percentage
loan_amnt                             0    0.000000
funded_amnt                           0    0.000000
funded_amnt_inv                       0    0.000000
term                                  0    0.000000
int_rate                              0    0.000000
installment                           0    0.000000
grade                                 0    0.000000
sub_grade                             0    0.000000
emp_title                        166969    7.385826
emp_length                       146907    6.498389
home_ownership                        0    0.000000
annual_inc                            4    0.000177
verification_status                   0    0.000000
issue_d                               0    0.000000
loan_status                           0    0.000000
pymnt_plan                            0    0.000000
purpose                               0    0.000000
title                             23325    1.031775
zip_code                              1    0.000044
addr_state                            0    0.000000
dti                                1711    0.075686
delinq_2yrs                          29    0.001283
earliest_cr_line                     29    0.001283
inq_last_6mths                       30    0.001327
mths_since_last_delinq          1158502   51.246003
open_acc                             29    0.001283
pub_rec                              29    0.001283
revol_bal                             0    0.000000
revol_util                         1802    0.079711
total_acc                            29    0.001283
initial_list_status                   0    0.000000
out_prncp                             0    0.000000
out_prncp_inv                         0    0.000000
total_pymnt                           0    0.000000
total_pymnt_inv                       0    0.000000
total_rec_prncp                       0    0.000000
total_rec_int                         0    0.000000
total_rec_late_fee                    0    0.000000
recoveries                            0    0.000000
collection_recovery_fee               0    0.000000
last_pymnt_d                       2426    0.107313
last_pymnt_amnt                       0    0.000000
next_pymnt_d                    1303607   57.664681
last_credit_pull_d                   73    0.003229
collections_12_mths_ex_med          145    0.006414
mths_since_last_major_derog     1679893   74.309585
policy_code                           0    0.000000
application_type                      0    0.000000
acc_now_delinq                       29    0.001283
tot_coll_amt                      70276    3.108639
tot_cur_bal                       70276    3.108639
open_acc_6m                      866130   38.313012
open_act_il                      866129   38.312968
open_il_12m                      866129   38.312968
open_il_24m                      866129   38.312968
mths_since_rcnt_il               909924   40.250227
total_bal_il                     866129   38.312968
il_util                         1068850   47.280273
open_rv_12m                      866129   38.312968
open_rv_24m                      866129   38.312968
max_bal_bc                       866129   38.312968
all_util                         866348   38.322655
total_rev_hi_lim                  70276    3.108639
inq_fi                           866129   38.312968
total_cu_tl                      866130   38.313012
inq_last_12m                     866130   38.313012
acc_open_past_24mths              50030    2.213063
avg_cur_bal                       70346    3.111735
bc_open_to_buy                    74935    3.314728
bc_util                           76071    3.364979
chargeoff_within_12_mths            145    0.006414
delinq_amnt                          29    0.001283
mo_sin_old_il_acct               139071    6.151766
mo_sin_old_rev_tl_op              70277    3.108683
mo_sin_rcnt_rev_tl_op             70277    3.108683
mo_sin_rcnt_tl                    70276    3.108639
mort_acc                          50030    2.213063
mths_since_recent_bc              73412    3.247359
mths_since_recent_bc_dlq        1740967   77.011175
mths_since_recent_inq            295435   13.068482
mths_since_recent_revol_delinq  1520309   67.250432
num_accts_ever_120_pd             70276    3.108639
num_actv_bc_tl                    70276    3.108639
num_actv_rev_tl                   70276    3.108639
num_bc_sats                       58590    2.591712
num_bc_tl                         70276    3.108639
num_il_tl                         70276    3.108639
num_op_rev_tl                     70276    3.108639
num_rev_accts                     70277    3.108683
num_rev_tl_bal_gt_0               70276    3.108639
num_sats                          58590    2.591712
num_tl_120dpd_2m                 153657    6.796973
num_tl_30dpd                      70276    3.108639
num_tl_90g_dpd_24m                70276    3.108639
num_tl_op_past_12m                70276    3.108639
pct_tl_nvr_dlq                    70431    3.115495
percent_bc_gt_75                  75379    3.334368
pub_rec_bankruptcies               1365    0.060380
tax_liens                           105    0.004645
tot_hi_cred_lim                   70276    3.108639
total_bal_ex_mort                 50030    2.213063
total_bc_limit                    50030    2.213063
total_il_high_credit_limit        70276    3.108639
hardship_flag                         0    0.000000
disbursement_method                   0    0.000000
debt_settlement_flag                  0    0.000000

In [15]:
def remove_variance(data, columns,threshold, dtype):
    col_vals = {}
    for col in columns:
        col_type = np.dtype(data[col])
        if col_type == dtype:
            num_uniq = data[col].unique()
            if len(num_uniq) <= 50000
            col_vals[col] = data[col].value_counts()
        else:
            contine
            
    return col_vals